<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socket Chat!</title>
</head>
<body>
  <form id="editForm">
    <input id="editBox" type="text" />
    <input type="submit" />
  </form>

  <div id="messages"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/client.js"></script>
</body>
</html>